beautifulsoup4==4.12.2
colorama==0.4.6
cryptography==40.0.2
fonttools==4.39.3
paramiko==3.1.0
pathspec==0.11.1
Pillow==9.5.0
PyAudio==0.2.13
pypiwin32==223
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyttsx3==2.90
pywin32==306
pywin32-ctypes==0.2.0
QtPy==2.3.1
requests==2.29.0
requests-oauthlib==1.3.1
SpeechRecognition==3.10.0
termcolor==2.3.0
urllib3==1.26.15
wikipedia==1.4.0